body{
    background-color: rgba(30, 189, 123, 0.445);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 1.5rem;
}
h1{
    padding: 10px;
    color:#fff;
    text-decoration: uppercase;
}
img{
    border: 2px solid red
}