body{
  background-color: antiquewhite;
  font-size: 1.5rem;
  height: 100vh;
}
button{
  height: 2rem;
  border:none;
  border-radius: 3px;
  color: red;
  background-color: #fff;
  cursor: pointer;
  
}
button:hover{
  opacity: .5;
  font-size: 1.5rem;
  background-color: #000;

}