@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');


body{
    background-color: #d9f7d4;
}
.inputField{
    text-align: center;
}
input{
    border-radius: 4px;
    margin:10px;
    background-color: #e5c7c7;
    font: italic 100 15px/30px 'Titillium Web', sans-serif;
}
input:focus{
    background-color: #fff;
}
textarea{
    border-radius: 4px;
    margin:10px;
    background-color: #e5c7c7;
    font: italic 100 15px/30px 'Titillium Web', sans-serif;

}
textarea:focus{
    background-color: #fff;
}
.myDiv{
    width: 300px;
    height: 150px;
    border: solid red 2px;
    margin:auto;
}